<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("https://www.oakbaybeachhotel.com/wp-content/uploads/2015/05/KatesCafe.jpg");
    min-height: 75%;
}
.menu {
    display: none;
}
</style>
<body>

<!-- Links (sit on top) -->

<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">McStanley Cafe</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#menu" class="w3-bar-item w3-button">Menu</a>
      <a href="#where" class="w3-bar-item w3-button">Where</a>
      <a href="#booking" class="w3-bar-item w3-button">Booking</a>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white" style="font-size:90px">McStanley<br>Cafe</span>
  </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-center">ABOUT THE CAFE</span></h5>
    <p>The Cafe was founded by Oscar, the heavy coffee lover who passionates in serving best coffee in town. He likes making friends with the coffee lover as most coffee lovers know the true meaning of "bella vita"!</p>
    <p>We primarily serve hot coffee, related coffee beverages (e.g., café latte, cappuccino, espresso), tea, and other hot beverages. We also serve cold beverages such as iced coffee and iced tea. With some type of food with local taste, as well as the light snacks, muffins or pastries. <strong>Oh ya! Our cakes are self made, the best match with coffee taste!</strong></p>
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p><i>"prenditi una pausa e prendi una tazza di caffè" Take a break, and have a cup of coffee.</i></p>
      <p>Cafe Designer, Coffeeist and Owner: Oscar</p>
    </div>
    <img src="https://files.northernbeaches.nsw.gov.au/sites/default/files/Web%20Image_0.jpg" style="width:100%;max-width:1000px" class="w3-margin-top">
    <p><strong>Opening hours:</strong> everyday from 12pm to 12am.</p>
    <p><strong>Address:</strong> Taman Tasik Prima, 47100 Puchong, Selangor</p>
  </div>
</div>

<!-- Menu Container -->
<div class="w3-container" id="menu">
  <div class="w3-content" style="max-width:700px">
 
    <h5 class="w3-center w3-padding-48"><span class="w3-center">THE MENU</span></h5>
  
    <div class="w3-row w3-center w3-card w3-padding">
      <a href="javascript:void(0)" onclick="openMenu(event, 'Eat');" id="myLink">
        <div class="w3-col s6 tablink">Eat</div>
      </a>
      <a href="javascript:void(0)" onclick="openMenu(event, 'Drinks');">
        <div class="w3-col s6 tablink">Drink</div>
      </a>
    </div>

    <div id="Eat" class="w3-container menu w3-padding-48 w3-card">
      <h5>Bread Basket</h5>
      <p class="w3-text-grey">Toast with Omega Egg 5.50; Toast with Kaya Butter 4.50</p><br> 

      <h5>Spagetti</h5>
      <p class="w3-text-grey">Carbonara 9.00; Balognese 8.00</p><br>    
    
      <h5>Belgian Waffle</h5>
      <p class="w3-text-grey">Vanilla flavored batter with malted flour 7.50</p><br>
    
      <h5>Blueberry Pancakes</h5>
      <p class="w3-text-grey">With syrup, butter and lots of berries 8.50</p>
    </div>

    <div id="Drinks" class="w3-container menu w3-padding-48 w3-card">
      <h5>Coffee</h5>
      <p class="w3-text-grey">Americano 3.50; Latte, Cuppucino, Exprsso 5.50</p><br>
    
      <h5>Chocolato</h5>
      <p class="w3-text-grey">Chocolate espresso with milk 8.50</p><br>
    
      <h5>Tea</h5>
      <p class="w3-text-grey">Milk Tea 5.50; Tea 4.50</p><br>
    
      <h5>Soda</h5>
      <p class="w3-text-grey">Coke, Sprite, Fanta, etc. 2.50</p>
    </div>  
    <img src="http://3j551k2eo5512znc2g46kkjmwkf-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/Page_Toppers1.jpg" style="width:100%;max-width:1000px;margin-top:32px;">
  </div>
</div>

<!-- Contact/Area Container -->
<div class="w3-container" id="where" style="padding-bottom:32px;">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-center">WHERE TO FIND US</span></h5>
    <p>Find us at some address at some place.</p>
    <div id="googleMap" class="w3-sepia" style="width:100%;height:400px;"></div>
    <p><span class="w3-tag">FYI!</span> We offer seasonal promotion regularly! Visit our facebook page by clicking facebook icon on the end of the webpage and follow us for great deal.</p>
    <p id="booking"><strong>Reserve</strong> a table, ask for today's special or just send us a message:</p>
    <p id="notice"><%= notice %></p>
    <%= render 'form', booking: @booking %>
  </div>
</div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer>
   <a href="www.facebook.com"><img src="http://www.freepngimg.com/download/facebook/8-2-facebook-transparent.png"  title= "Find us on Facebook: McStanley Cafe" style="width:42px;height:42px;border:0;display: block; margin-left: auto; margin-right: auto;"></a> 
</footer>

<!-- Add Google Maps -->
<script>
function myMap()
{
  //myCenter=new google.maps.LatLng(41.878114, -87.629798);
  myCenter=new google.maps.LatLng(3.008659, 101.612603);
  var mapOptions= {
    center:myCenter,
    zoom:12, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}

// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-dark-grey";
}
document.getElementById("myLink").click();
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3XnInUani_CGIbtG3yL4l2ByeHu9f4O4&callback=myMap"></script>


</body>
</html>
